<%- include("partials/header") -%>

<h1>ERROR! 404</h1>
<h2>NOT FOUND</h2>

<P>The page you are looking for does not exist . Please check the url again or contact the <a href = "https://www.github.com/RockeTCodes">developer</a>.</P>

<%- include("partials/footer") -%>
