<%- include("partials/header") -%>


<div class="login">
  <h1>Login</h1>
</div>
  <a class="btn btn-social btn-google btn-primary" href="/auth/google" role="button">
    <i class="fab fa-google"></i>
    Sign In with Google
  </a>

<%- include("partials/footer") -%>
