<%- include("partials/header") -%>

<div>
  <h1>You are logged in now you can now <a href="/compose">compose</a>,<a href="/update">update</a> and <a href="/delete">delete</a> blogs.</h1>




  <p>
    Press this button to logout.
    </p>
  <a class="btn btn-danger" href="/logmeout" role="button">Logout</a>
  </div>


<%- include("partials/footer") -%>
